html{
   font-family: Tahomma;
    background-color: darkgray;

}

h1{
    font-size: 35px;
    color: aqua;
}
h1,h2{
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
}
