html{
   font-family: Tahomma;
    background-color: darkgray;
    line-height: 2;

}
.intro{
    text-align: center;
    line-height: 2;
}


h1,h2{
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
}
h1{
    font-size: 35px;
    color: aqua;
}
h2:hover
